@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: 1 1% 98%;
    --foreground: 218 70% 13%;
    --primary: 236.57 69% 59.22%;
    --primary-foreground: 0 0% 99%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --card: 0 3% 99%;
    --card-foreground: 218 70% 13%;
    --accent: 10 4% 92%;
    --accent-foreground: 218 70% 13%;
    --muted: 222.67 25.4% 13.9%;
    --muted-foreground: 227 13% 57%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 1%;
    --destructive: 348 85% 54%;
    --destructive-foreground: 0 0% 98%;
    --border: 230 14% 91%;
    --input: 230 14% 91%;
    --ring: 236.57 69% 59.22%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 222.35 30.03% 10.08%;
    --foreground: 224.52 12.76% 85.35%;
    --primary: 236.57 69% 59.22%;
    --primary-foreground: 0 0% 99%;
    --secondary: 222.5 30.6% 14.97%;
    --secondary-foreground: 0 0% 98%;
    --card: 222.5 30.6% 11.97%;
    --card-foreground: 222.86 20% 93.14%;
    --accent: 222.5 30.6% 15.97%;
    --accent-foreground: 222.86 20% 93.14%;
    --popover: 222.5 30.6% 11.97%;
    --popover-foreground: 222.86 20% 93.14%;
    --muted: 222.67 25.4% 13.9%;
    --muted-foreground: 227 13% 57%;
    --destructive: 360 65% 54%;
    --destructive-foreground: 0 0% 98%;
    --border: 226.15 30.84% 18.53%;
    --input: 226.15 30.84% 25.53%;
    --ring: 236.57 69% 59.22%;
  }

  body {
    @apply bg-background text-foreground;
  }

  #__next {
    @apply flex h-full flex-col;
  }

  input[type="checkbox"] {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    box-shadow: none !important;
    appearance: none !important;
    @apply relative inline-block h-[1rem] w-[1rem] appearance-none rounded border-2 border-border bg-transparent text-primary;
  }

  input[type="checkbox"]:checked {
    @apply border-transparent bg-primary;
  }

  .button-primary:before {
    @apply absolute inset-0 border border-red-900;
    content: "";
    background: linear-gradient(180deg, rgba(60, 8, 126, 0) 0%, rgba(60, 8, 126, 0.32) 100%), rgba(113, 47, 255, 0.74);
    box-shadow: inset 0 0 12px #151a27;
  }

  .button-primary:after {
    @apply absolute inset-0 border border-red-900;
    content: "";
    background: linear-gradient(180deg, rgba(60, 8, 126, 0) 0%, rgba(60, 8, 126, 0.62) 100%), rgba(113, 47, 255, 0.44);
  }
}
